
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
/******************/
/***** WIDGET ****/
.entry-title {
    display: none;
}
/*******************/
/******************/
/** MIS ESTILOS **/
/****************/
*{


}
a{
    text-decoration: none;
    color: black;
}
a:hover { 
color: red;
}
a:visited{
    color : black;
}

body{
font-size: 12px;

}
#post-single p{

    background-color: #fff !important;
}
h1, h2{
	color: black;
	font-family: Dosis;
	margin: 0;
	padding: 0;
	text-align: center;
	/*visibility: hidden;*/
}

.titulos-grande{
    font-family: Raleway;
    color: black;
    font-size: 2.5em;
    text-align: left;
    font-weight: bold;
    padding: 10px 0 10px 0;
}
.titulo-pequenio{
    text-align: left;
    font-size: 1.5em;
    font-family: Raleway;
    font-weight: 800;
}
.inline{
    display: inline-block;
}
.wrapper, {
	width: 100%;
	height: auto;
}
header{
    width: 1000px;
    margin: 0 auto;

}
header aside#menu-superior{
    padding : 10px;
}
header aside#menu-superior ul{
    float: right;   
}

header aside#menu-superior li{
    display: inline;
    font-size: 0.9em;
    font-family: sans-serif;

}
header aside#menu-superior  a{
     padding: 5px;
    
}
header aside#menu-superior  a:hover{
     background-color: #009a00;
     color: white;
     border-radius: 4px;
    
}
/*:::MAIN:::*/
section#main{
    width: 1000px;
    margin: 0 auto;
    
}
aside#main-menu{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: black;
    border-radius: 10px;

    margin-top: 10px;
    margin-bottom: 10px;
} 
aside#main-menu aside.iconos-sociales{
   /* padding: 5px 0 0 15px;*/
}
aside#main-menu aside.iconos-sociales img{
    padding: 10px;
    width: 25px;
}

header aside.search{ 
    padding-right: 10px;
	vertical-align: middle;
    float: right;
}
#searchform{
	text-align: center;
}
/*:::CONTENT:::*/
div#content{
	width: 100%;
}
/*SLIDER*/
section#slider{ 
    width: 700px;
}

/* ::: SIDEBAR ::: */
.sidebar{
    margin-top: 10px;   
}

section#sidebar{
       width: 280px;
       vertical-align: top;
       margin-top: -5px; 
       border-left: dotted 2px #cfcfcf;
       padding-left: 5px;
}

section#sidebar #camara-testigo div{
      position: relative;
      top:175px;
}
section#sidebar-secundario{
    background-color: grey;
    width: 280px;
    height: 926px;
}
/*BLOG*/
section#blog{
    width: 700px;
    height: auto;
    /*background-color: red; */ 
    padding: 5px;  
}
/*::: BLOG -> POSTS :::*/
section#posts{
    width: 100%;    
}
/*::: BLOG -> POSTS -> POST:::*/
article#post{ 
    padding-bottom: 20px;
    background-color: #cfcfcf;
    border-radius: 10px 0;
    margin:5px; 
}
article#post h2{
     
    font-size: 1.5em;
    text-align: left;
    font-weight: bold;
}
div#small{
    text-align: left;
    padding : 0px 0 5px 0;
    
}
article#post div#noticia{
    padding-top: 10px;
    margin: 0 auto;   

}
article#post div#noticia p{
    text-align: justify;
    font-size: 1.1em;
} 
article#post .textos{
    width: 450px;
    vertical-align: top;
    padding: 15px 0 0 5px;
}
article#post .thumbnail{
     
    padding: 15px 0 0 5px;
    margin-left: 10px;
}

article#post .thumbnail img{
   border-radius: 10px 0;
} 

/*::: BLOG -> INNER - SIDEBAR :::*/
section#inner-sidebar{
    width: 100%;
    border-bottom: dotted 2px #cfcfcf;
}
/*:::LAST POST*/
section#inner-sidebar section#last-post{
    width: 50%;
    /*border-right: dotted 2px #cfcfcf;*/
padding-right: 10px;
}
/*:::PODCAST*/
section#inner-sidebar section#podcast {
    width: 45%;
    vertical-align: top;
    text-align: right;
    margin-left: 10px;
}
section#last-post article#last-post-single{
    width: 40%;
    height: 400px;
    vertical-align: top; 
    padding: 10px 15px 0 6px;
    margin-left: 3px;
    margin-bottom: 10px;
    border-radius: 10px 0;
    background-color: #cfcfcf;
}
section#last-post a{
    
    color: black;
    font-size: 1.1em;
}
section#last-post article#last-post-single img{
    border-radius: 10px 0;
}
/*::: SINGLE :::*/
section#single{
    width: 1000px;
    height: auto; 
    margin: 0 auto;
}
section#single section#posts{
    /*border-right: dotted black 2px;*/
    width: 700px;
    height: auto;
}
/*::: SINGLE -> POSTS -> POST-SINGLE:::*/
article#post-single{ 
   /*border-right: dotted black 2px;*/
}


article#post-single h2{
    /*font-family: Dosis;
    color: green;
    font-size: 2.5em;
    text-align: left;
    font-weight: bold;
    padding-bottom: 5px;*/
    
}
article#post-single h2  p{
  font-size: 1.3em;

}
article#post-single img{
    border: solid black 1px;
    padding: 5px;
    background-color: white;
}
div#small{
    text-align: left;
    color: #777;
    
}
article#post-single div#noticia{
    /*padding-top: 10px;*/
    margin: 0 auto;
    margin-top: 25px;   
    /*border-top: solid 5px green;
    border-bottom: solid 5px green;*/
      padding-bottom: 30px;
}

article#post-single div#noticia p{
    text-align: justify;
    font-size: 1.1em;
} 
article#post-single .textos{
    width: 95%;
    vertical-align: top;
    padding: 15px 0 0 15px;
} 
/*TITULOS*/
.titulo{
  width: 100%;
  /*line-height: 50px; */
  margin-bottom: 10px; 
  margin-top: 10px;
  text-align: left;
}

.titulo h2{
    display: inline-block;
    font-family: 'Dosis', sans-serif;
    
    margin-top: 5px;
    font-size: 1.5em;
    /*text-shadow: black 1px 1px;*/
 
}
.titulo img#imagen_titulo{
   width: 50px;
   float: left;
   margin-right: 5px;
   margin-top: 2px;
} 
.titulo h2#titulo-normal {
    font-weight: 500;
}
.titulo h2#titulo-negrita {
     font-weight: 500;
     margin: 0;
     margin-left: -3px;
}
.titulo p#sub-titulo{
    font-family: 'Dosis', sans-serif;
    color: grey;
    font-size: 1.2em;
    padding: 0 0 5px 5px; 
}
.titulo span{
    display: block;
    height: 5px;
    width: 100%; 
    margin-top: 5px;
}
/*::: VER MAS :::*/
aside#ver_mas{
    text-align: right;
    border-bottom: dotted 2px #cfcfcf;
    padding: 5px 0 5px 0;

}
aside#ver_mas a{

    
}
aside#ver_mas a:hover{
    color: red;
}
aside#ver_mas a p{
    display: inline-block;
        font-family: Dosis;
        font-size: 1.3em;
        text-align: right;
        padding-bottom: 5px;
}
aside#ver_mas a span{
    display: inline-block;
        width: 15px;
        height: 15px;
        float: right;
        margin: -1px 3px 0 2px;
        color: white;
        padding: 3px; 
}

/*
* CATEGORY-POLICIAL
*/
.categoria-policial{
 
}
.categoria-policial h2{

}
.categoria-policial #post-single{
    height: auto;
    margin-top: 20px;
}
.categoria-policial article#post-single .textos{
    width: 450px;
    vertical-align: top;
    padding: 0;
}
.categoria-policial article#post-single h2{
 
}
.categoria-policial #post-single h2{
 /*   color: green;
    font-size: 2.5em;
    text-align: left;
    font-family: Dosis;
    font-weight: bold;
    padding-bottom: 5px*/
}
/********************/

/*:::ERROR 404 :::*/
#error404{
    height: 700px;
}
#error404 h2{
    font-family: Dosis;
    font-size: 20px;
    text-align: left;

}
/*::: FOOTER ::: */
footer{
    margin: 0 auto;
    height: 200px;
    background-color: #c5c5c5;
    border-top: solid 5px #6f6f6f;
}
footer h2._footer_{
    color: black;
    font-size: 1.1em;
    padding:20px; 
}
